<p>danh-muc-mon-add works!</p>

<form action="" method="POST" role="form">
    <legend>Thêm mới</legend>

    <div class="form-group">
        <label for="">Tên hàng</label>
        <input type="text" class="form-control" >
    </div>

    <div class="form-group">
        <label for="">Loại thực đơn</label>
        <input type="text" class="form-control"  >
    </div>
    <div class="form-group">
        <label for="">Giá bán</label>
        <input type="text" class="form-control"  >
    </div>
    <div class="form-group">
        <label for="">Giá vốn</label>
        <input type="text" class="form-control"  >
    </div>
    <div class="form-group">
        <label for="">Tồn kho</label>
        <input type="text" class="form-control"  >
    </div>
    <div class="form-group">
        <label for="">Đặt hàng</label>
        <input type="text" class="form-control"  >
    </div>
    <button type="submit" class="btn btn-primary" >Lưu</button>
</form>

