<!-- <p>hanghoa-list works!</p> -->
<h2>Hàng hóa</h2>
<br>
<button type="button" class="btn btn-success" >Thêm mới</button>

<div class="panel panel-primary">
    <div class="panel-heading">
          <h3 class="panel-title">Hàng hóa</h3>
    </div>
    <div class="panel-body">
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th>Mã hàng hóa</th>
                      <th>Tên hàng</th>
                      <th>Loại thực đơn</th>
                      <th>Giá bán</th>
                      <th>Giá vốn</th>
                      <th>Tồn kho</th>
                      <th>Đặt hàng</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
    </div>
</div>
