.nav navbar-nav{
    cursor:alias;
}
.dropdown-menu
{
    display:flex ;
    flex-direction: column;
}
.dropdown-item
{
    padding: 10px;
}
.navbar-brand
{
    color: black;
}
.nav navbar-nav
{
    color: white;
}
.navbar-inverse .navbar-nav>li>a
{
    color: white;
}