<!-- <p>navbar works!</p> -->
<nav class="navbar navbar-inverse" style="background-color:rgb(62, 128, 228);">
    <a class="navbar-brand" href="#">BoBoStation</a>
    <ul class="nav navbar-nav">
      <li routerLinkActive ="active" [routerLinkActiveOptions]="{exact :true}"> 
       <a [routerLink]="['/']" ><span><i class="fas fa-cube"></i></span>Tổng quan</a>
      </li>
      <li routerLinkActive= "active" [routerLinkActiveOptions]="{exact :true}">
        <a [routerLink]="['./hanghoa']">Hàng hóa</a>
        
      </li>
      <li routerLinkActive= "active" [routerLinkActiveOptions]="{exact :true}">
        <a>Giao dịch</a>
      </li>
      <li>
        
        
         
       
      </li>
    </ul>
</nav>
