<!-- <nav class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">BoBoStation</a>
    <ul class="nav navbar-nav">
      <li routerLinkActive ="active" [routerLinkActiveOptions]="{exact :true}"> 
        <a [routerLink]="['/']">Tổng quan</a>
      </li>
      <li routerLinkActive= "active" [routerLinkActiveOptions]="{exact :true}">
        <a [routerLink]="['/HangHoa']">Hàng hóa</a>
      </li>
      <li routerLinkActive= "active" [routerLinkActiveOptions]="{exact :true}">
        <a>Giao dịch</a>
      </li>
    </ul>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm- col-md- col-lg-">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->
<router-outlet></router-outlet>