<!-- <p>masters works!</p> -->
<div class="d-flex" id="wrapper">
	<!-- <app-sidebar></app-sidebar> -->
	<div id="page-content-wrapper">
		<app-navbar></app-navbar>
		<div class="container-fluid">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
